				<!-- Spotlight -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in invert" id="dashaus">
                    <div class="content">
                        <h1>Das Haus</h1>

                        <h2>Luxuriös Leben in Ihrer Smarthome-Villa</h2>
                        
                        <p>Diese luxuriöse Villa befindet sich in Marlesreuth, einem idyllischen Ortsteil der Gemeinde Naila im Frankenwald.</p>
                        
                        <p>
                        Das ehemalige Pfarrhaus wurde 2022 aufwändig und mit hochwertigen Materialien kernsaniert und aufwändig umgestaltet. Die Immobilie umfasst 308 Quadratmeter, die nahezu jede Wohnmöglichkeit zulässt. Ob großzügiges Einfamilienhaus, Generationen-Haus oder die Kombination aus Wohnen und Arbeiten – das alles ist hier ohne Probleme umsetzbar und das sogar mit einem atemberaubenden Blick bis hin ins Fichtelgebirge. </p>
                        
                        <h2>Vom 1895 errichteten ehemaligen Pfarrhaus bis hin zum Architekten-Objekt </h2>

                        <p>
                        Nicht nur die großzügige Nutzfläche macht die Immobilie zu etwas Besonderem, sondern auch das 995 Quadratmeter große Grundstück lässt das Herz von Naturliebhabern höherschlagen. Im Garten liegen, Barbecue mit Familie und Freunden und Ruhe pur – hier leben Sie, wo andere Urlaub machen. </p>
                        
                        <p>
                        Das Gebäude erstreckt sich über drei Etagen, ist in der kompletten Immobilien mit modernen Smarthome-Features ausgestattet und begeistert durch LED-Lichtspiele im gesamten Treppenhaus. Der sechs Meter hohe verglaste Kubus lädt zu gemütlichen Abenden mit einem Glas Wein und einem Blick über den Frankenwald ein. </p>
                        
                        <p>
                        Die bis zu 4,5 Meter hohen Decken und der großzügige Wohn-Essbereich bescheren die perfekte Atmosphäre für gemütliche Abende mit den Liebsten. </p>

                    </div>
                    <div class="image">
                        <img src="images/haus/dashaus.jpg" alt="" />
                    </div>
                </section>