				<!-- Spotlight -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in invert" id="first">
                    <div class="content">
                        <h1>Einfamilienhaus</h1>

                        <h2>Ihre Traumimmobilie für die ganze Familie</h2>
                        <h3>Ein Zuhause voller Möglichkeiten</h3>
                        
                        <p>Kinderlachen, Versteckspiele im gesamten Haus und gemütliche Abende auf der Couch…</p>
                        <p>Ein Haus ist mehr als nur vier Wände – es ist der Ort, an dem Leben passiert, Geschichten entstehen und Erinnerungen wachsen. </p>
                        <p>Ob großzügiger Garten für die Kinder, ein gemütlicher Rückzugsort für Eltern oder Platz für gemeinsames Lachen und Leben – hier werden modernes Wohnen mit familienfreundlichen Konzepten vereint, damit jedes Familienmitglied seinen Lieblingsplatz findet.</p>
                        <p>Entdecken Sie ein Zuhause, das nicht nur heute, sondern auch in Zukunft alle Ansprüche erfüllt. Für ein Leben voller Glück und Geborgenheit.</p>
                        <p>Ihr Traum beginnt hier.</p>
                        <p>Kontaktieren Sie uns und finden Sie Ihr neues Zuhause für Groß und Klein!</p>
                        
                        <ul>
                        <li>Etagenzahl: 3</li>
                        <li>Schlafzimmer: 4</li>
                        <li>Badezimmer: 2</li>
                        <li>WC: 2</li>
                        
                        <li>Arbeiten / Gäste / Fitness / Hobby: 3</li>
                        <li>Liebe, Lachen und Gemütlichkeit: ∞</li>
                        </ul>

                    </div>
                    <div class="image">
                        <img src="images/haus/kind2.jpg" alt="" />
                    </div>
                </section>