				<!-- Spotlight -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="frankenwald">
                    <div class="content">
                        <h2>Villa im Frankenwald – Ihr Rückzugsort inmitten der Natur</h2>
                        <h3>Dort wohnen, wo andere Urlaub machen</h3>
                        <p>Der Frankenwald – eine Region, die für ihre dichten Wälder, malerischen Täler und charmanten Ortschaften bekannt ist. Hier finden Sie nicht nur eine atemberaubende Kulisse, sondern auch den idealen Ort für Ihre Villa.</p>

                        <p>Ein Eigenheim im Frankenwald bietet Ihnen die perfekte Balance zwischen Entspannung und Aktivität. Genießen Sie die Ruhe in Ihrem Garten mit Blick auf die umliegende Landschaft oder nutzen Sie die zahlreichen Freizeitmöglichkeiten direkt vor Ihrer Tür – von Wander- und Radwegen bis hin zu historischen Sehenswürdigkeiten.</p>

                        <p>Erleben Sie ein Leben im Einklang mit der Natur, in einer Region voller Kultur und Gastfreundschaft. Ihr Traum von der Villa im Frankenwald wartet auf Sie – setzen Sie den ersten Schritt und gestalten Sie Ihre Zukunft in dieser idyllischen Umgebung.</p>
                        
                        <h3>Neugierig?</h3>
                        
                        <p>Dann kontaktieren Sie uns gerne und wir senden Ihnen das ausführliche Exposé zu. </p>

                        <p><a href="#contact" class="button primary icon fa-message">Kontakt</a></p>

                    </div>
                    <div class="image">
                        <img src="images/haus/Hoellental_Hirschsprung.jpg" alt="" />
                    </div>
                </section>