				<!-- Spotlight -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in invert" id="first">
                    <div class="content">
                        <h1>Wohnen und arbeiten</h1>

                        <h2>Ihr neues Zuhause – Wohnen und Arbeiten perfekt vereint</h2>
                        
                        <p>Suchen Sie einen Ort, der Wohnkomfort und berufliche Flexibilität verbindet? Diese einzigartige Immobilie bietet genau das: Raum für Ihre privaten Bedürfnisse und beruflichen Visionen.</p>

                        <h3>Highlights der Immobilie:</h3>
                        <ul>
                            <li><strong>Flexibles Raumkonzept:</strong> Genügend Platz für Wohnen, Homeoffice oder ein eigenes  Gewerbe.
                            <li><strong>Moderne Ausstattung:</strong> Hochwertige Materialien und ein stilvolles Design sorgen für eine Wohlfühlatmosphäre.</li>
                            <li><strong>Zeitgemäße Technik:</strong> Energieeffizienz, zentrale Lüftung, Smart-Home-System zur zentralen Steuerung aller Hausfunktionen, intelligentes Zutrittssystem, Gigabit Glasfaseranschluss.</li>
                            <li><strong>Zentrale Lage:</strong> Nah an Infrastruktur, dennoch ruhig und ideal für konzentriertes Arbeiten oder entspannte Stunden daheim.</li>
                            <li><strong>Separate Zugänge:</strong> Optimal für die Kombination aus privatem Rückzugsort und Kundenempfang.</li>
                            <li><strong>Repräsentative Erscheinung:</strong> Machen Sie Eindruck bei Ihren Kunden.</li>
                            <li><strong>Attraktiver Außenbereich:</strong> Ein Garten oder Terrasse, die zum Entspannen oder als kreativer Arbeitsraum einladen.</li>
                        </ul>                        

                        <p>Egal, ob Sie als Selbstständige(r) nach einem repräsentativen Büro, einem Atelier oder einer Praxis suchen, Ihren Beruf flexibel von zu Hause aus gestalten möchten oder einfach Raum für Ihre Ideen brauchen – diese Immobilie ist vielseitig nutzbar und passt sich Ihren Lebensplänen an.</p>

                    </div>
                    <div class="image">
                        <img src="images/haus/dashaus4.jpg" alt="" />
                    </div>
                </section>