<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Grundrisse Einfamilienhaus</h2>
        <p>Wie aus dem Grundriss schön hervorgeht, bietet die Villa ausreichend Platz für eine Familie mit Kindern. </p>

                    <section class="wrapper style1 align-center">
                        <section>
                        <div class="gallery style1 medium lightbox onload-fade-in">
                            <article>
                               <a href="images/haus/grundriss_eg_einfamilie_border.jpg" class="image">
                                  <img src="images/haus/thumbs/grundriss_eg_einfamilie_border.jpg" alt="" />
                               </a>
                               <div class="caption">
                                    Erdgeschoss
                                </div>
                             </article>
                             <article>
                                <a href="images/haus/grundriss_og_border.jpg" class="image">
                                   <img src="images/haus/thumbs/grundriss_og_border.jpg" alt="" />
                                </a>
                                <div class="caption">
                                     Obergeschoss
                                 </div>
                              </article>
                              <article>
                                <a href="images/haus/grundriss_dg_border.jpg" class="image">
                                   <img src="images/haus/thumbs/grundriss_dg_border.jpg" alt="" />
                                </a>
                                <div class="caption">
                                     Dachgeschoss
                                 </div>
                              </article>
                         </div>
                        </section>

                        <section class="wrapper style1 align-left">
                            <dl>
                                <dt>Erdgeschoss</dt>
                                <dd><p>Im Erdgeschoss befinden sich drei Räume, die zum Arbeiten, als Hobbyräume oder Gästezimmer genutzt werden können sowie ein Badezimmer mit Dusche. Ein Haushaltsraum für Waschmaschine und Trockner bieten ausreichend Verstauungs- und Lagermöglichkeiten. Dort befindet sich auch der zweite Eingang.</p></dd>

                                <dt>Obergeschoss</dt>
                                <dd><p>Im ersten Geschoss befindet sich das Herz der Immobilie. Eine großzügige Speisekammer, welche geschickt hinter der Küche versteckt wurde, ermöglicht es, unschöne Dinge des Alltags zu verstecken. Der Wohn-Ess-Bereich überzeugt durch eine offene Küche und einen Essbereich mit Blick über den Frankenwald. Der große Wohnbereich lädt zu Filmabenden mit der gesamten Familie ein. Ein kleines WC befindet sich ebenfalls auf der mittleren Etage.</p></dd>

                                <dt>Dachgeschoss</dt>
                                <dd><p>Im Dachgeschoss finden Sie drei etwa gleichgroße Kinderzimmer mit gemeinsamem Bad mit Dusche. Das Elternschlafzimmer ist mit einer Ankleide und einem Bad mit Badewanne kombiniert. </p></dd>
                            </dl>
                            
                    </section>

    </div>
</section>
