<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Grundrisse Mehrfamilienhaus</h2>
        <p>Durch den Einzug einer Trennwand ensteht im Erdgeschoss eine separate Wohnung mit eigenem Eingang</p>

                    <section class="wrapper style1 align-center">
                        <section>
                        <div class="gallery style1 medium lightbox onload-fade-in">
                            <article>
                               <a href="images/haus/grundriss_eg_mehrfamilie_border.jpg" class="image">
                                  <img src="images/haus/thumbs/grundriss_eg_mehrfamilie_border.jpg" alt="" />
                               </a>
                               <div class="caption">
                                    Erdgeschoss
                                </div>
                             </article>
                             <article>
                                <a href="images/haus/grundriss_og_border.jpg" class="image">
                                   <img src="images/haus/thumbs/grundriss_og_border.jpg" alt="" />
                                </a>
                                <div class="caption">
                                     Obergeschoss
                                 </div>
                              </article>
                              <article>
                                <a href="images/haus/grundriss_dg_border.jpg" class="image">
                                   <img src="images/haus/thumbs/grundriss_dg_border.jpg" alt="" />
                                </a>
                                <div class="caption">
                                     Dachgeschoss
                                 </div>
                              </article>
                         </div>
                        </section>

                        <section class="wrapper style1 align-left">
                            <dl>
                                <dt>Erdgeschoss</dt>
                                <dd><p>Im Erdgeschoss wäre eine große 2-Zimmer-Wohnung mit Küche und Bad denkbar. Der Zugang erfolgt über den Haupteingang des Hauses.
                                </p></dd>

                                <dt>Obergeschoss und Dachgeschoss</dt>
                                <dd><p>Im Obergeschoss und Dachgeschoss befindet sich bereits eine großzügige Wohnung mit 4 Schlafzimmern, zwei Bädern, einem WC, einer Küche mit versteckter Speisekammer und einem großzügigen Wohn-Essbereich. Der Zugang erfolgt über den Seiteneingang des Hauses.</p></dd>

                            </dl>
                            
                    </section>

                    <p><strong>Lebensglück im Mehrfamilien- oder Mehrgenerationenhaus?</strong></p>

                    <p>Dann kontaktieren Sie uns gerne für einen Besichtigungstermin. </p>

                    <p><a href="#contact" class="button primary icon fa-message">Kontakt</a></p>

    </div>
</section>
