<section class="wrapper style1 align-center invert" id="contact">
    <div class="inner">
        <h1>Kontakt</h1>

            <section class="wrapper style1 align-left">
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" value="" />
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" value="" />
                        </div>
                        <div class="field half">
                            <label for="tel">Telefon</label>
                            <input type="tel" name="telephone" id="telephone" value="" />
                        </div>

                        <div class="field">
                            <label for="message">Nachricht</label>
                            <textarea name="message" id="message" rows="6"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" name="submit" id="submit" value="Nachricht senden" /></li>
                    </ul>
                </form>
                    
            </section>

            <p><strong>Sie möchten mehr über die Immobilie erfahren?</strong></p>

            <p>Dann kontaktieren Sie uns für das Exposé und einen Besichtigungstermin. </p>

    </div>
</section>
