				<!-- Spotlight -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in invert" id="marlesreuth">
                    <div class="content">
                        <h2>Stadtvilla in Marlesreuth – Stilvoll wohnen in moderner Eleganz</h2>
                        <p>Willkommen in Marlesreuth – dem charmanten Ort, wo ländliche Idylle auf urbanen Wohnkomfort trifft.</p>
                        <p> 
                            Unsere Stadtvilla vereint stilvolle Architektur mit hochwertigen Materialien und durchdachten Grundrissen. Egal, ob Sie von lichtdurchfluteten Räumen, einem großzügigen Garten oder einem offenen Wohnkonzept träumen – hier wird Ihr Zuhause Realität.
                            </p>

                        <h3>Warum eine Stadtvilla in Marlesreuth?
                        </h3>

                        <ul>
                           <li><strong>Architektonische Highlights:</strong> Klare Linien und zeitlose Designs für ein modernes Wohngefühl.</li> 
                           <li><strong>Lage mit Lebensqualität:</strong> Ruhig gelegen, dennoch mit bester Anbindung an das Umland.</li>
                           <li><strong>Nachhaltiges Wohnen:</strong> Energieeffiziente Bauweise für ein umweltfreundliches Zuhause.</li>
                           <li><strong>Raumwunder:</strong> Das Einfamilienhaus bietet Platz für verschiedene Wohnmöglichkeiten.</li>
                        </ul>

                        <p>Erleben Sie das harmonische Zusammenspiel aus Natur und Modernität in einer der begehrtesten Wohngegenden der Region. </p>
                        <p>
                            Kontaktieren Sie uns für weitere Informationen und lassen Sie sich von den Möglichkeiten inspirieren!</p>
                            <p>
                            <strong>Ihr neues Zuhause wartet in Marlesreuth – bereit, ein Teil Ihrer Familiengeschichte zu werden.</strong>
                            </p>
                            <p><a href="#contact" class="button primary icon fa-message">Kontakt</a></p>

                    </div>
                    <div class="image">
                        <img src="images/haus/marlesreuth2.jpg" alt="" />
                    </div>
                </section>