				<!-- Spotlight -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in invert" id="mehrfamilie">
                    <div class="content">
                        <h1>Mehrfamilienhaus</h1>

                        <h2>Finden Sie Ihre Traumimmobilie: Das perfekte Mehrfamilienhaus</h2>
                        
                        <p>Ein Mehrfamilienhaus ist mehr als nur ein Gebäude – es ist eine Investition in Ihre Zukunft. Ob als renditestarke Kapitalanlage, Zuhause für mehrere Generationen oder als Kombination aus Wohnen und Vermieten: Mehrfamilienhäuser bieten unzählige Möglichkeiten, Ihre Wohn- und Lebenswünsche zu verwirklichen.</p>
                        <p>Diese Immobilie bietet Ihnen die Möglichkeit, zwei Wohnbereiche zu schaffen. Somit ist es perfekt für ein Mehrgenerationenhaus oder den einen Teil zu bewohnen und den anderen zu vermieten. </p>

                        
                        <h3>Wohnung 1</h3>
                        <ul>
                            <li>Zimmer: 2</li>
                            <li>Badezimmer</li>
                            <li>Küche mit Essbereich</li>
                        </ul>

                        <h3>Wohnung 2</h3>
                        <ul>
                            <li>Schlafzimmer: 4</li>
                            <li>Badezimmer: 2</li>
                            <li>Küche mit großzügiger Wohn-Essbereich mit großer Speisekammer und WC</li>
                        </ul>

                    </div>
                    <div class="image">
                        <img src="images/haus/dashaus3.jpg" alt="" />
                    </div>
                </section>