{{ define "main" }}

	{{ partial "haus" site.Data.haus }}
	{{ partial "marlesreuth" . }}
	{{ partial "gallery" site.Data.hausgallery }}
	{{ partial "frankenwald" . }}
	{{ partial "dashaus" . }}
	{{ partial "fakten" site.Data.fakten }}
	{{ partial "einfamilie" . }}
	{{ partial "grundriss_einfamilie" site.Data.grundriss_einfamilie }}
	{{ partial "footer" . }}
	{{/*  {{ partial "spotlight" site.Data.einfamilie }}
	{{ partial "spotlight" site.Data.mehrfamilie }}
	{{ partial "spotlight" site.Data.wohnenarbeiten }}  */}}
	{{/*  {{ partial "gallery" site.Data.gallery }}
	{{ partial "items" site.Data.items }}
	{{ partial "elements" . }}
	{{ partial "elements_reference" . }}
	{{ partial "footer" . }}  */}}

{{ end }}
